# Ciclo 02: Aprendizado Supervisionado - Classificaçao

## 1.0 Import libraries

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics as mt

## Load Dataset.

In [2]:
df = pd.read_csv('./train.csv')

In [3]:
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

In [4]:
df.loc[:,'limite_adicional'].unique()

array(['Negar', 'Conceder'], dtype=object)

## Selecao de Feactures

In [5]:
df.columns

Index(['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
       'investe_exterior', 'pessoa_polit_exp', 'limite_adicional'],
      dtype='object')

In [6]:
# contagem de quantos negar/conceder
df.loc[:,'limite_adicional'].value_counts()

Negar       7995
Conceder    1505
Name: limite_adicional, dtype: int64

In [7]:
# Porcentagem da quantidade Negar/Conceder
df.loc[:,'limite_adicional'].value_counts(normalize=True)

Negar       0.841579
Conceder    0.158421
Name: limite_adicional, dtype: float64

In [8]:
# x = feactures_treinamento
# y = label

# Premissa do KNN que exixta relacao de similaridade baseada em distancia. 
feactures = ['idade', 'saldo_atual', 'divida_atual', 'renda_anual',
             'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
             'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
             'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
             'investe_exterior', 'pessoa_polit_exp']
label = 'limite_adicional'

x_train = df.loc[:,feactures]
# rotulo
y_train = df.loc[:, label]

In [9]:
# Supondo que 'x_train' seja o DataFrame que contém seus dados de treinamento
drop_n_relevante = ['investe_exterior', 'pessoa_polit_exp']
x_train = x_train.drop(drop_n_relevante, axis=1)

## 3.0 Treinamentos

 um dos metodos e a classificacao, e quando passa o .fit tenhonq pasa o conj de caracterst que e o x_train 
e quem a a variavel resposta que e y_trais .guarda o model treinad

In [10]:
# definicao de parametro do treinamento.
k = 7
knn_classifier = KNeighborsClassifier( n_neighbors = k ) # recebe n de vz
# Treinamento de Algoritimo
knn_classifier.fit( x_train, y_train )

KNeighborsClassifier(n_neighbors=7)

In [11]:
# predicao classificacao 
y_pred = knn_classifier.predict(x_train)

In [12]:
# Podemos medir, só Criar um data frame
# df_result = x_train.copy()
# N tem a col de limt_add
# df_result

In [13]:
# Mas se fizer um com o DF 
df_result = df.copy()
#  tem a col de id, limt_add
# criar uma col classific
df_result['classificacao'] = y_pred

# Performace

### 4.1 Matriz de confusao

In [15]:
# caucular matriz de confusao MANUAL e criar uma coluna acertos
df_result['acertos'] = df_result.loc[:,['id_cliente','limite_adicional','classificacao'] ].apply( lambda x: 1 if x['limite_adicional'] == x['classificacao'] else 0, axis =1 )

In [16]:
df_result.loc[:,['id_cliente','idade','limite_adicional','classificacao','acertos'] ].sample(20)

      id_cliente  idade limite_adicional classificacao  acertos
1866        3528     42            Negar         Negar        1
6976        9239     53            Negar         Negar        1
1970        7260     29            Negar         Negar        1
5527        3733     53         Conceder      Conceder        1
3507       11000     24            Negar         Negar        1
1567        9672     31         Conceder         Negar        0
8336        6004     22            Negar         Negar        1
7656        1399     32            Negar         Negar        1
1716        5419     41            Negar         Negar        1
35          1618     27            Negar         Negar        1
4692        1753   2986            Negar         Negar        1
4900       10772     49         Conceder         Negar        0
1085        9743     26         Conceder      Conceder        1
2540       12364     24            Negar         Negar        1
6016       11068     45            Negar         Negar        1
4849        3056     27         Conceder      Conceder        1
1884        4808     27         Conceder         Negar        0
5374        4164     41            Negar         Negar        1
8239        4461     60         Conceder         Negar        0
1841        9921     23            Negar         Negar        1

In [17]:
mt.confusion_matrix( y_train, y_pred )

array([[ 369, 1136],
       [ 203, 7792]])

In [18]:
# conta manual
(369 + 7792) / (9500)

0.8590526315789474

In [19]:
# df_result.sample(20)
# para simplificar a visualizacao dos dados vou pegar col necessaria
df_result.loc[:,['id_cliente','idade','limite_adicional','classificacao'] ].sample(20)

      id_cliente  idade limite_adicional classificacao
8954        6517     58            Negar         Negar
1532        8775     49            Negar         Negar
6724        4718     22         Conceder         Negar
5359         197     42            Negar         Negar
1661       10308     55            Negar         Negar
6811        7541     57         Conceder      Conceder
6868        7448     42         Conceder         Negar
2418         880     45            Negar         Negar
4574         886    506            Negar         Negar
4890        4868     41            Negar         Negar
7197       10341     24            Negar         Negar
8997        4214     49            Negar         Negar
8023        1037     61         Conceder         Negar
8311        2943     19            Negar         Negar
8375        6812     55            Negar         Negar
729         4076     19            Negar         Negar
542         3711     55         Conceder         Negar
7555        8697     47            Negar         Negar
5770        4735     34            Negar         Negar
4451       10028     59            Negar         Negar

In [20]:
igual1 = df_result[df_result['acertos'] == 1].count()
igual0 = df_result[df_result['acertos'] == 0].count()

### 4.2 Acuracia

In [22]:
# com a matrix pronta
mt.accuracy_score(y_train, y_pred)

0.8590526315789474

### 4.3 Precisao

In [24]:
mt.precision_score(y_train, y_pred, pos_label='Conceder')

0.6451048951048951

### Recall

In [25]:
mt.recall_score(y_train, y_pred, pos_label='Conceder')

0.24518272425249169