## Fazer previsao de classe.

Linear_Regression.ipynb
Decision_Tree.ipynb
Regressor_Random.ipynb
Forest_Regressor.ipynb
Linear_Regression.ipynb
Lasso_Linear.ipynb
Regression_Ridge.ipynb
Linear_Regression.ipynb
Elastic_Net_Polinomial.ipynb
Regression_Lasso_Polinomial.ipynb
Regression_Ridge_e_Polinomial.ipynb
Regression_Elastic_Net.ipynb

# Import Libraries

In [120]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn import metrics as mt

#  Looad Dataset

In [121]:
data = pd.read_csv('train.csv')
df = data.copy()

# Data Preparation

In [122]:
feactures = ['idade', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']
label = ['saldo_atual']

In [140]:
X_tarin = df.loc[:, feactures]
y_train = df.loc[:, label]

In [124]:
dfc = pd.concat([X_tarin,y_train], axis=1)
dfc.head()

   idade  divida_atual  renda_anual  num_emprestimos  saldo_atual
0     21       2577.05  24196.89636                6   278.172008
1     40       2465.39  19227.37796                5   268.874152
2     36       1055.29  42822.28223                0   446.643127
3     58        703.05  51786.82600                0   321.141267
4     35        891.29  44626.85346                2   428.716114

## Model Training - Statsmodels

In [125]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

# Definição do modelo
lr_model = smf.ols(formula='saldo_atual ~ idade + divida_atual + num_emprestimos', data=df)

# Treinamento do modelo
lr_model = lr_model.fit()

# Teste de ANOVA
anova_result = sm.stats.anova_lm(lr_model, typ=1)
anova_result

,df,sum_sq,mean_sq,F,PR(>F)
idade,1.0,4.085925e+02,4.085925e+02,0.009575,9.220529e-01
divida_atual,1.0,4.494005e+07,4.494005e+07,1053.104993,3.537135e-219
num_emprestimos,1.0,3.976109e+03,3.976109e+03,0.093174,7.601864e-01
Residual,9496.0,4.052309e+08,4.267385e+04,NaN,NaN

# Model Training

In [126]:
# Model definition
lr_model = LinearRegression() # exemplo de modeledo da linear refgression

#  model fit ( ajuste de treinamento)
lr_model.fit(X_tarin, y_train)

#  previsao
y_pred = lr_model.predict(X_tarin)

In [127]:
df3 = pd.concat( [ X_tarin, y_train ], axis=1 )
df3.head()

   idade  divida_atual  renda_anual  num_emprestimos  saldo_atual
0     21       2577.05  24196.89636                6   278.172008
1     40       2465.39  19227.37796                5   268.874152
2     36       1055.29  42822.28223                0   446.643127
3     58        703.05  51786.82600                0   321.141267
4     35        891.29  44626.85346                2   428.716114

In [128]:
# fazer algumas previsoes
df1 = df.loc[:, ['id_cliente','saldo_atual']]
# criar uma coluna predict
df1['predict'] = y_pred
df1.head()

   id_cliente  saldo_atual     predict
0        1767   278.172008  336.102544
1       11920   268.874152  342.738418
2        8910   446.643127  426.799578
3        4964   321.141267  447.795457
4       10100   428.716114  436.546627

# Calculo manual das metricas SSE, SSR, SST

In [129]:
import statsmodels.api as sm
# Define a variavel
x = df.loc[:, ['idade', 'divida_atual', 'renda_anual','num_emprestimos']]

# Define Predictor
y = df.loc[:, label]

# Add constant to predctor variables
y = sm.add_constant(y)

#  fit lenear regresion model
model = sm.OLS(x, y).fit()

import numpy as np

#  Calcular o SSE
sse = np.sum((model.fittedvalues - df.loc[:,['idade', 'divida_atual', 'renda_anual','num_emprestimos']]) ** 2)

# Calcular o ssr
ssr = np.sum((model.fittedvalues - df.loc[:, ['idade', 'divida_atual', 'renda_anual','num_emprestimos']].mean() ) ** 2)

# Calcular o sst
sst = ssr + sse

print(sse)
print(ssr)
print(sst)

idade              4.457633e+09
divida_atual       1.143185e+10
renda_anual        2.007940e+16
num_emprestimos    3.716838e+07
dtype: float64
idade              4.045884e+03
divida_atual       1.267789e+09
renda_anual        1.014813e+13
num_emprestimos    2.920434e+03
dtype: float64
idade              4.457637e+09
divida_atual       1.269964e+10
renda_anual        2.008955e+16
num_emprestimos    3.717130e+07
dtype: float64

In [130]:
# print(lr_model.summary())

In [131]:
# print(model.summary())

# Performace

In [132]:
# all
mt.r2_score(y_train, y_pred)

0.10046323700887039

In [133]:
# Idade mais divida atual
mt.r2_score(y_train, y_pred)

0.10046323700887039

In [134]:
# Idade 
mt.r2_score(y_train, y_pred)

0.10046323700887039

In [135]:
# Idade Divida atual e renda anual
mt.r2_score(y_train, y_pred)

0.10046323700887039

# RMSE na prática

In [146]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression 
from sklearn import metrics as mt

# 1.0 Load dataset
df = pd.read_csv( 'train.csv' )

# 2.0 Seleção de Features
features = ['idade', 'divida_atual', 'renda_anual', 'valor_em_investimentos',
            'taxa_utilizacao_credito', 'num_emprestimos', 'num_contas_bancarias', 
            'num_cartoes_credito', 'dias_atraso_dt_venc', 'num_pgtos_atrasados', 
            'num_consultas_credito', 'taxa_juros']
label = ['saldo_atual']

x_train = df.loc[:, features] 
y_train = df.loc[:, label]

# 3.0 Model Training
lr_model = LinearRegression() 
lr_model.fit( x_train, y_train )

y_pred = lr_model.predict( x_train )

df1 = df.loc[:, ['id_cliente', 'saldo_atual']] 
df1['predicted'] = y_pred

# 4.0 Model Performance
## 4.1 R squared
r2_squared = np.round( 100*mt.r2_score( y_train, y_pred ), 2 ) 
print( 'R2 square: {}%'.format( r2_squared ) )

## 4.2 MSE
mse = np.round( mt.mean_squared_error( y_train, y_pred ) , 2 ) 
print( 'A cada previsão, o erro médio é de: U${}'.format( mse ) )

## 4.3 RMSE
rmse = np.sqrt( mse )
print( 'A cada previsão, o erro médio é de: U${}'.format( rmse ) )

# 5.0 Conclusão
print( '{}% da variação da variável alvo y é reduzida, levando em consideração o preditor'.format( r2_squared ) ) 
print( '{}% da variação da variável alvo y é “explicada pela variação do preditor x'.format( r2_squared ) )

R2 square: 16.92%
A cada previsão, o erro médio é de: U$39370.27
A cada previsão, o erro médio é de: U$198.41942949217446
16.92% da variação da variável alvo y é reduzida, levando em consideração o preditor
16.92% da variação da variável alvo y é “explicada pela variação do preditor x